* {
    box-sizing: border-box;
}

.accounts-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 0;

}
.accounts-container h3 {
    color:#626567;
    text-transform: uppercase;
}
.accounts-table {
    width : 80%;
    padding: 10px;
}
.accounts-table td {
    padding: 30px;
}
.accounts-table th {
    color: gray;
}
.negative {
    color: red;
}
.positive {
    color: green;
}

