.dashboard-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-content: flex-start;
    width: 100%;

}


.content {
    display: flex;
    height: 70.5vh;

}

.sidebar{
    width: 30%;
    height: 80%;
    border-color: lightgray;
    background: linear-gradient(lightgray,lightgray) right / 1px 90% no-repeat, white;


}

.themain > * {
   height: 40vh;


}

.themain {
    width: 70%;

}