.container {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-content: flex-start;
}


.content {
    display: flex;
    height: 70.5vh;

}

.sidebar{
    width: 30%;
    padding: 20px;
    border-right-style: solid;
    border-color: lightgray;
    border-width: 1px;


}

.themain > * {
   height: 40vh;


}

.themain {
    width: 70%;

}