.left {
    display: flex;
    order: -1;
    flex-direction: column;
    padding-top: 90px;
    padding-right: 40px;
    padding-left: 40px;
    align-items: center;
    background-color: #FFFFFF;
    color: #4F4F4F;

}
.left h3{
    color: #808080;
}

.left button {
    margin-top: 50px;
}

.myContainer{
    display: flex;
    margin-top: 5%;

}

