* {
    box-sizing: border-box;
}
.net-worth-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    min-width: 0;
}

.net-worth-container h3 {
    color:#626567;
    text-transform: uppercase;
}

.net-worth-table{
    width: 50%;
    padding: 20px;
}

.net-worth-table tr{
    height:2px;
    width:2px;

}
.net-worth-table td{
    width:2px;
    height:2px;
    padding: 10px;
}
.net-worth-table th {
    color: gray;
}
.negative {
    color: red;
}
.positive {
    color: green;
}