* {
    box-sizing: border-box;
}
.net-worth-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 0;
}

.net-worth-container h3 {
    color:#626567;
    text-transform: uppercase;
}


.negative {
    color: red;
}
.positive {
    color: green;
}

.net-worth-column {
    float: left;
    width: 20%;

}
.net-worth-column-plusmin {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.net-worth-row:after {
    content: "";
    display: table;
    clear: both;
    padding: 15px;
}

@media (max-width: 800px) {
    .net-worth-container {
        flex-direction: column;
        padding: 0;
    }
}