* {
    box-sizing: border-box;
}
.total-spending-container {
    background: linear-gradient(lightgray,white) top center/ 80% 1px no-repeat, white;
    padding: 20px;
    min-width: 0;
}

.total-spending-container h3 {
    color:#626567;
    text-transform: uppercase;
}